recursive-include examples *.py *.md
recursive-include scripts *.py
recursive-include tests *.py
include CHANGELOG.md
recursive-include docs *.md *.py *.txt Makefile make.bat
prune docs/_build
recursive-include validation *.md *.json *.gz *.pdf *.csv *.patch
prune validation/runs
